/* footer */

.copyright {
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    font-family: 'Comfortaa';
    font-style: normal;
    padding: 30px;
    font-size: 14px;
    width: auto;
}
